body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
}

a {
  color: rgba(136, 90, 90, 1);
}

a:hover {
  color: rgba(140, 53, 65, 1);
}

.app-login {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.app-login code {
  display: block;
  font-size: 1.5rem;
}

.app-login .login-button {
  display: block;
  font-size: 3rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
