{{page-title "Index"}}

<h2>Basic GraphQL features</h2>
<ul>
  <li>
    {{!-- <LinkTo @route="people">List People</LinkTo> --}}
    <LinkTo @route="projects"> &#10003; List Projects</LinkTo>
  </li>
  <li>
    <LinkTo @route="people.new">Create person</LinkTo>
  </li>
  <li>
    √ Read person
  </li>
  <li>
    Edit person
  </li>
  <li>
    Delete person
  </li>
</ul>
<h2>Advanced GraphQL features</h2>
<ul>
  <li>Search</li>
  <li>Sorting</li>
  <li>Pagination</li>
</ul>
<h2>Additional GraphQL features</h2>
<ul>
  <li><LinkTo @route="login">Authenticated requests</LinkTo></li>
  <li>Subscribe to changes</li>
  <li>Server side validation</li>
</ul>